<div class="well">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Enter a zipcode:</h2>
            <input type="text" [(ngModel)]="zipcode" placeholder="Zipcode" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <h2>Enter Country:</h2>
            <app-autocomplete
                  [(value)]="country"
                  [placeholder]="'Type to search!'"
                  [options]="countryService.getAllCountries()"></app-autocomplete>
        </div>
    </div>
    <br>
    <app-button [status$]="status" (click)="addLocation()">
        <button clear class="btn btn-primary" [disabled]="zipcode==='' || !country || country.value===''">
            Add location
        </button>
        <button submitting class="btn btn-primary" disabled>
            Adding...
        </button>
        <button finished class="btn btn-success">
            Done
        </button>
    </app-button>
</div>
