<div class="well">
    <h2>Enter a zipcode:</h2>
    <input type="text" [(ngModel)]="zipcode" placeholder="Zipcode" class="form-control">
    <br>
    <app-button [status$]="status" (click)="addLocation()">
        <button clear class="btn btn-primary">
            Add location
        </button>
        <button submitting class="btn btn-primary" disabled>
            Adding...
        </button>
        <button finished class="btn btn-success">
            Done
        </button>
    </app-button>
</div>
